<div class="img-head4"></div>

<h2 class="tit-inicio text-center">Únete al turismo verde y explora el mundo montado en bicicleta.</h2>

<img class="img-inicio img-fluid" src="assets/img/bicis.jpg"><img class="img-inicio img-fluid" src="assets/img/bicis3.jpg">

<h4 class="intro text-center">Encuentra estaciones de bicicletas para alquilar y recorrer la ciudad a dos ruedas
    donde quiera que estés.</h4>

<img class="img-inicio img-fluid" src="assets/img/china.jpg"><img class="img-inicio img-fluid" src="assets/img/bicis2.jpg">

